@import url(../font/genericons.css);
/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
/* line 9, ../../assets/sass/main.scss */
html,
button,
input,
select,
textarea {
  color: #222;
}

/* line 13, ../../assets/sass/main.scss */
html {
  font-size: 1em;
  line-height: 1.4;
}

/* line 18, ../../assets/sass/main.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 23, ../../assets/sass/main.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 28, ../../assets/sass/main.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 40, ../../assets/sass/main.scss */
audio,
canvas,
img,
video {
  vertical-align: middle;
}

/* line 44, ../../assets/sass/main.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 50, ../../assets/sass/main.scss */
textarea {
  resize: vertical;
}

/* line 54, ../../assets/sass/main.scss */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==========================================================================
   Media Queries
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
/* line 99, ../../assets/sass/main.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}

/* line 106, ../../assets/sass/main.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/* line 113, ../../assets/sass/main.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 118, ../../assets/sass/main.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 130, ../../assets/sass/main.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 139, ../../assets/sass/main.scss */
.invisible {
  visibility: hidden;
}

/* line 144, ../../assets/sass/main.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

/* line 149, ../../assets/sass/main.scss */
.clearfix:after {
  clear: both;
}

/* line 153, ../../assets/sass/main.scss */
.clearfix {
  *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  /* line 162, ../../assets/sass/main.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 170, ../../assets/sass/main.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 174, ../../assets/sass/main.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 178, ../../assets/sass/main.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 184, ../../assets/sass/main.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 189, ../../assets/sass/main.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 194, ../../assets/sass/main.scss */
  thead {
    display: table-header-group;
  }

  /* line 199, ../../assets/sass/main.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 203, ../../assets/sass/main.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 213, ../../assets/sass/main.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 219, ../../assets/sass/main.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
