<h1>Listing Entries</h1>

<div id="entries">
    <form role="form" class="new_entry" action="/entries" method="post">
        <div class="form-group">
            <input type="text" class="form-control" name="title" />
        </div>
        <!-- <p><textarea name="body" cols="50" rows="5"></textarea></p> -->
        <input type="submit" class="btn btn-default" value="Save Entry" />
    </form>  

    <div class="entries">
    </div>
</div>

