<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Document</title>
</head>
<body>
    
    <ul>
        <% @entries.each do |entry| %>
            <li><%= entry %></li>
        <% end %>
    </ul>
    
</body>
</html>